# Python virtual environments (do not include local venv in deployment package)
venv/
env/
ENV/
.venv/

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Editor & OS files
.vscode/
.idea/
*.swp
*.swo
Thumbs.db
Desktop.ini
